<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <div class="container">
    <ol>
      <% for (content of contents) { %>
        <div class="content">
          <li><strong><a href="<%=content.link%>"><%= content.title %></a></strong></li>
          <p><%= content.description %></p>
          <img src="<%=content.image%>" alt="">
        </div>
      <% } %>
    </ul>
  </div>
</body>
</html>

<style>
  .container {
    width: 70%;
    margin: auto;
  }
  .content {
    text-align: center;
    margin-bottom: 100px;
  }
</style>