<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <header>
    <h1><%= title %></h1>
  </header>
  <div class="container">
    <table>
      <% for(var i in reflections) { %>
        <tr>
          <% var obj = reflections[i]; %>
          <th><%= obj.id %></th>
          <td><%= obj.content %></td>
        </tr>
      <% } %>
    </table>
    <form method="post" action="/contents/search">
      <div>
        <label for="content">CONTENT</label>
        <input type="text" name="content" id="content">
      </div>
      <input type="submit" value="作成">
    </form>
    <p><%= none %></p>
    <ol>
      <% for (result of results) { %>
        <div class="content">
          <li><strong><a href="<%=result.link%>"><%= result.title %></a></strong></li>
          <p><%= result.description %></p>
          <img src="<%=result.image%>" alt="">
        </div>
      <% } %>
    </ol>
  </div>
</body>
</html>